<div id="comment-{{id}}" class="comment">
    <div class="comment-metadata">
        <p id="comment-author">{{username}}</p>
        <p class="dot-separator"> • </p>
        <p class="comment-date">{{createdAt}}</p>
    </div>
    <p id="comment-message">{{message}}</p>
</div>