<nav>
    <a id="typemark" href="/">Sip snap 🍵</a>
    <div class="nav-links">
        <form id="search-bar" action="/posts/search">
            <input type="text" id="search-input" placeholder="Search..." autocomplete="off" name="q">
            <button type="submit" id="search-submit"><img src="../public/images/search.png" alt=""></button>
        </form>
        <p class="dot-separator">•</p>
        {{#if logged}}
        <a href="/users/logout" id="logout">Log out</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
        <p class="dot-separator">•</p>
        <a href="/post">Share your sip</a>
    </div>
</nav>