<h1>Welcome back 👋</h1>
<form id="login">
    <label for="username">Username</label>
    <input autocomplete="off" type="text" name="username">
    <br>
    <label for="password">Password</label>
    <input autocomplete="off" type="password" name="password">
    <br>
    <input type="submit" value="Enter the tearoom">
    <p>New to the tearoom? Register <a href="/register">here</a>!</p>
</form>