<h1>Share your sip 🫖</h1>
<form id="post-image">
    <label for="description">{{question}}</label>
    <textarea name="description" cols="40" rows="5"></textarea>
    <br>
    <input type="file" name="image" accept="image/*">
    <br>
    <div class="verify-checkbox">
        <input type="checkbox" name="image-policy">
        <label for="image-policy">I accept the Acceptable Use Policy for uploading images.</label>
    </div>
    <br>
    <input type="submit" value="・ * 。 Into the brewer ・゜+ .">
</form>