<h1>Create your account 🌱</h1>
<form id="registration" method="post">
    <label for="username">Username</label>
    <input autocomplete="off" type="text" name="username">
    <br>
    <label for="email">Email</label>
    <input autocomplete="off" type="email" name="email">
    <br>
    <label for="password">Password</label>
    <input autocomplete="off" type="password" name="password">
    <br>
    <label for="passwordConfirm">Confirm your password</label>
    <input autocomplete="off" type="password" name="passwordConfirm">
    <br>
    <div class="verify-checkboxes">
        <div class="verify-checkbox">
            <input required type="checkbox" name="age">
            <label for="age">I am 13+ years of age</label>
        </div>
        <br>
        <div class="verify-checkbox">
            <input required type="checkbox" name="terms-privacy">
            <label for="terms-privacy">I accept the <a href="">TOS and Privacy Rules</a></label>
        </div>
    </div>
    <br>
    <input type="submit" value="Enter the tearoom">
</form>