/* ALL PAGES */
@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/public/fonts/HKGrotesk-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'HK Grotesk SemiBold';
    src: url('/public/fonts/HKGrotesk-SemiBold.otf') format('truetype');
}

@font-face {
    font-family: 'HK Grotesk Bold';
    src: url('/public/fonts/HKGrotesk-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'HK Grotesk ExtraBold';
    src: url('/public/fonts/HKGrotesk-ExtraBold.otf') format('truetype');
}

body {
    height:100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: HK Grotesk;
}

h1 {
    font-family: HK Grotesk Bold;
    font-weight: 800;
    margin-top: 150px;
    font-size: 2.5rem;
    color: #1b2a3d;
}

#topbar {
    margin: 0;
    display: absolute;
    width: 100vw;
    height: 6px;
    background-image: linear-gradient(to right, #196fef , #f04494);
}


/* FORMS */

form {
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-bottom: 80px;
}

input, textarea {
    font-family: HK Grotesk;
    margin-top: 8px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 8px 16px;
    border: 1.5px solid #D8DBE0;
    color: #2a5183;
}

textarea {
    resize: vertical;
}

input:focus, textarea:focus {
    outline: none;
}

input[type=file] {
    padding: 0;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type=password] {
    letter-spacing: 2px;
    font-weight: 900;
}

input[type=file]::-webkit-file-upload-button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: HK Grotesk SemiBold;
    color: #2a5183;
    background-color: white;
    padding: 12px 16px;
    border: 1.5px solid #2a5183;
    margin-right: 10px;
    transition: ease-out 0.05s;
}

input[type=submit] {
    font-family: HK Grotesk SemiBold;
    margin-top: 18px;
    color: #2a5183;
    background-color: white;
    padding: 12px 16px;
    border: 1.5px solid #2a5183;
    cursor: pointer;
    border-radius: 5px;
}

input[type=file]::-webkit-file-upload-button:hover {
    color: #6a95ce;
    
    border: 1.5px solid #6a95ce;
}

input[type=submit]:hover {
    transition: ease-out 0.3s;
    color: white;
    box-shadow: inset 400px 0 0 0 #2a5183;
}

.verify-checkboxes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.verify-checkbox {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
}

.verify-checkbox > label {
    margin-top: 5px;
    margin-left: 6px;
}

a {
    color: #717485;
}

#post-image {
    width: 350px;
}


/* VIEW POST */

img {
    width: 350px;
    border: 1px solid #2a5183;
}

.post-details {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#time {
    margin-top: 8px;
    color: #A3A3A3;
}

#desc {
    margin-top: 0px;
}

/* HOME */
nav {
    margin-top: 20px;
    margin-bottom: -80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.nav-links p {
    color: #717485;
    font-weight: bold;
}

nav a {
    font-family: HK Grotesk Bold;
    font-size: 20px;
    color: #2569d5;
    text-decoration: none;
}

.nav-links a {
    font-family: HK Grotesk;
    font-size: 17px;
    color: #2a5183;
    font-weight: 600;
    text-decoration: none;
}

#photo-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.card {
    position: relative;
}

.card-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 2px solid #2a5183;
    border-radius: 5px;
    margin: auto;
}

.card-title {
    margin-top: 8px;
    color: #70778b;
}

.card-text {
    margin-top: -10px;
    color: #2a5183;
}

.card-details {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 8px;
    right: 8px;
}

.card-details img {
    width: 22px;
    height: 22px;
    border: none;
}

#count-label {
    margin-bottom: -25px;
    color: #70778b;
}

label {
    color: #717485;
}

#count {
    font-size: 32px;
    font-weight: bold;
}

#image-input {
    color: #717485;
    font-family: HK Grotesk;
}

#question {
    text-align: center;
    background: linear-gradient(to right, #ef1999 , #446ff0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#flash-message {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
}

#flash-message div {
    text-align: center;
}

footer {
    margin-top: auto;
    background-color: #063758;
    color: white;
    width: 100vw;
    text-align: center;
    height: 50px;
}

@media (max-width: 750px) {
    #photo-container {
        grid-template-columns: repeat(2, 200px);
    }
}

@media (max-width: 500px) {
    #photo-container {
        grid-template-columns: repeat(1, 200px);
    }
}